body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, .ant-layout {
  height: 100vh;
}

.text-content-editor {
  height: 100%;
  width: 300px;
  display: block;
  padding: 15px;
  resize: none;
  background-color: transparent;
  border: none;
  border-right: 1px solid #e8e8e8;
}

.text-content-editor:focus {
  outline: none;
}

#cy {
  height: 100vh;
}
