body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, .ant-layout {
  height: 100vh;
}

.text-content-editor {
  height: 100%;
  width: 100%;
  display: block;
  padding: 15px 15px 35px 15px;
  resize: none;
  background-color: transparent;
  border: none;
  border-right: 1px solid #e8e8e8;
  font-family: monospace;
}

.text-content-editor:focus {
  outline: none;
}

.ant-alert.content-status-alert {
  position: relative;
  top: -29px;
  border-radius: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.content-status-alert .ant-alert-icon {
  top: 7.5px;
}

#cy {
  height: 100vh;
}
