body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, .ant-layout {
  height: 100vh;
}

.text-content-editor {
  height: 100%;
  width: 100%;
  display: block;
  padding: 15px 15px 35px 15px;
  resize: none;
  background-color: transparent;
  border: none;
  font-family: monospace;
}

.text-content-editor:focus {
  outline: none;
}

.sidebar {
  position: relative;
  padding-bottom: 31px;
  border-right: 1px solid #e8e8e8;
}

.ant-alert.content-status-alert {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 31px;
  font-size: 11px;
}

.content-status-alert .ant-alert-icon {
  top: 5.5px;
}

.ant-page-header {
  border-bottom: 1px solid rgb(235, 237, 240);
  background-color: #fff;
  padding-bottom: 15px;
  padding-top: 15px;
}

.context-selection.ant-select {
  width: 300px;
  margin: 10px;
}

#cy {
  height: calc(100vh - 52px);
}
